body{
    background: #0d083b;
    font-family: 'Roboto', sans-serif;
    color: #ebebeb;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.nav{
    padding: .5rem;
    background: rgba(8, 15, 85, 0.938);
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.nav img{
    width: 50px;
}
.nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 1rem;
}
.main-content h1{
    text-align: center;
}

.footer{
    text-align: center;
}
